stages:
  - test
  - build
  - docker

variables:
  DOCKER_IMAGE: "nicholasporta/parking-app"
  MAVEN_CLI_OPTS: "-Dmaven.repo.local=.m2/repository -B"

cache:
  key: maven
  paths:
    - .m2/repository

# --------------------
# 1️⃣ TEST (sempre)
# --------------------
test_app:
  stage: test
  image: maven:3.9.4-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS test
  artifacts:
    when: always
    reports:
      junit: target/surefire-reports/*.xml

# --------------------
# 2️⃣ BUILD (sempre)
# --------------------
build_app:
  stage: build
  image: maven:3.9.4-eclipse-temurin-17
  script:
    - mvn $MAVEN_CLI_OPTS clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar

# --------------------
# 3️⃣ DOCKER PUSH (SOLO SU TAG)
# --------------------
docker_build_push:
  stage: docker
  image: docker:24.0.9
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - docker info
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    - docker build -t "$DOCKER_IMAGE:$CI_COMMIT_TAG" .
    - docker push "$DOCKER_IMAGE:$CI_COMMIT_TAG"
